* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden !important;
}

:root {
    --primary-color: #1F2937;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centre {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    font-size: larger;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;


}

.link-secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

}


hr {
    margin: 2rem 0rem;
}

.style-non-bullet {
    list-style: none;
}

.inline-list {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
    display: inline;
    padding: 0rem 1rem;
    text-decoration: none;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .list-elements-inline {
    display: inline;
}

.list-non-bullet {
    text-align: right;
    font-size: 120%;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 200%;
}

.navigation .link-active {
    font-weight: bolder;
    color: #a6c3fa;
    font-size: 130%;
}

/* header */
.heroine {
    padding: 2rem;
}

.heroine-image {
    max-width: 250px;
    display: block;
    margin: auto;
}

.heroine .heroine-heading {
    font-size: 40px;
    color: #626466;
    text-align: center;

}

/* section */
.section {
    padding: 2rem 2rem;
}

.section h1 {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}

.section p {
    text-align: center;
    padding: 1.5rem;
}

#off-white-section {
    background-color: #E5E7EB;
}

/* footer */
.footer {
    background-color: #1F2937;
    color: white;
    padding: 2rem 2rem;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer div {
    padding: 1rem;
}

.footer-link {
    display: inline;
    padding: 1rem;
}

.footer-link a {
    font-size: 120%;
    color: white;
    text-decoration: none;
}

/* project styling */
.project-container {

    margin: auto;
    text-align: center;
    padding: 2rem;
}

.project-container h1 {
    color: #4a4a4b;
    font-weight: bold;
}

.project-container a {
    text-align: right;
    padding: 0.5rem;
    border: 1px solid gray;
    text-decoration: none;
    margin: 0.3rem;
    border-radius: 2rem;
    font-size: 15px;

}


.project-container small {
    width: 100%;


}


/* blog */
.blog {
    padding: 2rem;
}

#msg-box {
    display: block;
    margin: auto;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: x-large;
    border-width: medium;
    border-radius: 5px;
}

footer {
    background-color: #1F2937;
    text-align: center;
}

a,
img,
li {
    display: inline;
}

.social-img {
    width: 55px;
    height: 55px;
    padding: 0.5rem;

}

#previous-page {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    background-color: rgb(12, 45, 105);


}